html, body {
    height: 100%;
    margin: 0;
  }

.image {
    width: auto;
    height: 100vh;
    background: red url("https://imageio.forbes.com/specials-images/imageserve/5d35eacaf1176b0008974b54/0x0.jpg?format=jpg&crop=4560,2565,x790,y784,safe&width=1200");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

img {
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    height:85%

}



.parent {
    display: grid;
    height: 100%;
    grid-template-columns: minmax(100px, 0.4fr) repeat(3, 1fr) minmax(100px, 0.4fr);
    grid-template-rows: minmax(40px, 5vh) minmax(80px, 10vh) max-content 10vh;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-items: stretch;
    /* overflow-y: scroll; */
    }
    
.div1 { 
    grid-area: 1 / 1 / 2 / 6;
    background-color: red;
    position: sticky;
    top: 0;
    z-index: 1;
    }

.div2 { 
    grid-area: 2 / 1 / 4 / 2;
    background-color: blue;
    /* position: sticky; */
}

.div3 { 
    grid-area: 2 / 2 / 3 / 5; 
    background-color: green;
}

.div4 { 
    grid-area: 2 / 5 / 4 / 6;
    background-color: aqua;
}

.div5 { grid-area: 3 / 2 / 4 / 5; 
background-color: gray;
/* overflow-y: scroll; */
}


.div5{
    display:flex;
    flex-direction: row;
    border: 2px solid blue;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: fit-content ;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.div5 .item {
    position: relative;
    border: 2px solid red;
    width: 220px;
    height: 165px;
    box-sizing: border-box;
    margin:0.3rem;
    top:20px;
    transition: top 1s 1s;
}

.div5 .item:hover {
    border: 2px solid yellow;
    top:0px;
    transition: top 1s;

}

/* .div5 .text {
    border: 2px solid blue;
    width: 220px;
    height: 2rem;
    box-sizing: border-box;
    margin:0.3rem;
} */

.text {
    width: 100%;
    border: 2px solid black;
    box-sizing: border-box;
}


/* body {
    height: 1000px; */
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    /* border: 2px, solid black;  */
 /* } */

@media screen and (min-width:450px) {

    .div5 .item {
        width: 300px;
        height: 225px;


}
    /* .div5 .text {
        width: 300px;
    } */
}


@media screen and (min-width:1200px) {

    .div5 .item {
        width: 400px;
        height: 300px;
    }

    /* .div5 .text {
        width: 400px;
    } */

} 

.div6 { 
    grid-area: 4 / 1 / 5 / 6; 
    background-color: black;
    border: 2px solid orange;
}